<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".sehatin.SehatinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sehatin">
        
        <activity
            android:name=".activities.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        
        <!-- MAIN FEATURES -->
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.EmergencyActivity" />
        <activity android:name=".activities.ImunisasiActivity" />
        <activity android:name=".activities.InfoRubrikActivity" />
        <activity android:name=".activities.RiwayatActivity" />
        <activity android:name=".activities.ChatbotActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.AddChildActivity" />

    </application>

</manifest>